$red : hsl(0, 100%, 68%);
$very-dark-blue : hsl(230, 29%, 20%);
$dark-grayish-blue : hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);
$body-font : 'Barlow', sans-serif;
$heading-font : 'Barlow Condensed', sans-serif;
$laptop: 1000px;




$desktop : 1000px;
$mobile : 375px;