@import './variables';

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    overflow-x: hidden;

}

header {
    .nav-top {
        margin-top: 25px;
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $laptop) {
            /* margin-top: 60px; */
            padding: 30px 150px;
        }

        .hamburger-menu {
            cursor: pointer;

            
        @media screen and (min-width: $laptop) {
            display: none;   
        }
            
        }

    
        .nav-menu {
            position: absolute;
            top: 80px;
            /* display: flex; */
            display: none;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
    
            background-color: #fff;
            box-shadow: -5px 11px 20px 0px $Grayish-Blue;
            width: 85%;
            height: 250px;
            z-index: 2;
    
            
                .item {
                    list-style: none;
                    text-decoration: none;
                    color: $very-dark-blue;
                    font-family: $heading-font;
                    font-size: 21px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
    
                hr {
                    background-color: $Grayish-Blue;
                    width: 80%;
                }
    
                .color-grey {
                    color: $Grayish-Blue;
                }
            
            @media screen and (min-width: $laptop) {

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                background-color: transparent;
                box-shadow: none;
                top: unset;
                right: 100px;
                    
                

                .item {
                    font-size: 14px;
                    margin: 0 20px;
                }
                
                hr {
                    display:none;
                }

            }
        }
    
    }

    .back-box {
        width: 180px;
        height: 450px;
        background-color: $Grayish-Blue;
        position: absolute;
        right: 0;
        top: 0;
        opacity: .2;
        border-radius: 0 0 0 100px;
        z-index: -1;

        
        @media screen and (min-width: $laptop) {
            width: 50%;   
        }
    }
    
    
    
}

.sec-1 {
    /* position: relative; */
    .img {
        background-image: url(../images/illustration-devices-trim.png);
        background-size: contain;
        background-repeat: no-repeat;
        /* overflow: hidden; */
        position: absolute;
        top: 120px;
        right: 0%;
        /* left: -100px; */

        width: 100%; 
        height: 464px;

        @media screen and (min-width: $laptop) {
            
            right: -55%;

            top: 160px;


        }

        
    }

}

.sec-2 {
    position: absolute;
    top: 480px;
    font-family: $heading-font;
    font-size: 18px;

    
    .container {
        display: flex;
        align-items: center;    
        padding: 0 25px;
        
        .p-inside-cont {
            padding-left: 15px;
            color: $Grayish-Blue;
            letter-spacing: 4px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .black-box-text {
            
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: $very-dark-blue;
            border-radius: 50px;
            width: 45px;
            height: 20px;
            text-align: center;
            text-transform: uppercase;
            
    
        }


    }  


        

    .container-two {
        width: 380px;
        padding-left: 25px;
        h1 {
            color: $very-dark-blue;
            padding: 5px 0;
            font-size: 40px;
            text-transform: uppercase;
        }

        p {
            font-family: $body-font;
            color:  $dark-grayish-blue;
            font-size: 18px;

            margin:10px 0;
        }
    }


    .btn-flex {
        margin: 30px 0;
        display: flex;
        
        padding: 0 25px;
        
        .btn {
            font-family: $heading-font;
            /* font-weight: 700; */
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $red;
            width: 160px;
            height: 45px;
            margin-right: 30px;
            border-radius: 5px;

            a {
                text-decoration: none;
                color: white;
            }
            
            &:hover {
                background-color: hsl(0, 100%, 77%);
            }
        }

        .btn-2 {
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                letter-spacing: 1px;
                text-decoration: none;
                color: $Grayish-Blue;
                text-transform: uppercase;
                
            }

            &:hover {
                transition: .5;
                text-decoration: underline;
            }

        }
    }

    @media screen and (min-width: $laptop) {
    
        top: 200px;
        left: 120px;
        
        .container {

            .black-box-text {
                
                width: 50px;
                height: 20px;
        
            }
        }

        .container-two {
            width: 480px;
            
            h1 {
                font-size: 60px;
            }
        
        }
        
        .btn {
            width: 200px;
        }
    

    }

    
    
}
